<h1>Stažení dokumentu vyžaduje přihlášení!</h1>
<p>Dokument můžete stáhnout po přihlášení na adrese <%= link_to "https://#{self.request.host}/pdfdown/#{@hash_string}", "/pdfdown/" + @hash_string %>.</p>