<h1>Stažení dokumentu vyžaduje zaplacení!</h1>
<p>Dokument můžete stáhnout zaplatit přes odkaz na stránce <%= link_to "https://#{self.request.host}/vlozitpdfs/#{@pdf_id.to_s}", "/vlozitpdfs/" + @pdf_id.to_s %>.</p>